<div class="wrapper">
    <div class="bookshelf">
        <% var posts = site.posts.map((item) => { item.path = url_for(item.path); return item; }) %>
        <%- shelf_bookcase(posts) %>
    </div>
    <div class="title"><%= theme.title %></div>
</div>