<!-- 机器人：大白 -->
<a class="stage">
    <div class="head">
        <div class="eyes eyes-left"></div>
        <div class="eyes eyes-right"></div>
        <div class="mouth"></div>
    </div>


    <div class="body" onclick="(function () { location.href='/' })()">
        <div class="heart"></div>
        <div class="belly"></div>
        <span class="dabai-tip">首页</span>
    </div>


    <div class="hand-left">
        <div class="arm-left"></div>
        <div class="finger-1"></div>
        <div class="finger-2"></div>
        <div class="finger-3"></div>
    </div>
    <div class="hand-right" onclick="(function () { location.href='/archives/' })()">
        <div class="arm-right"></div>
        <div class="finger-1"></div>
        <div class="finger-2"></div>
        <div class="finger-3"></div>
        <span class="dabai-tip">归档</span>
    </div>

    <div class="leg leg-left"></div>
    <div class="leg leg-right" onclick="(function () { location.href='/dynamic/' })()">
        <span class="dabai-tip">动态</span>
    </div>
</a>