<style>
    .footer {
        font-size: 16px;
        text-align: center;
        font-family: "隶书", "宋体";
    }
</style>

<div class="footer">
    <span>站长统计：</span>
    <span id="busuanzi_container_site_pv">
        总访问量 <span id="busuanzi_value_site_pv"></span> 次
    </span>
    <span id="busuanzi_container_site_uv">
        总访问人数 <span id="busuanzi_value_site_uv"></span> 人
    </span>
</div>